// FORMS

.widget.signupform {
	padding: 30px;
  	background-color: lighten(@color-swatch2,70%);

  	.style--light & {
        background-color: darken(@color--light, 15%);
    }

    .style--accent & {
        background-color: darken(@color--accent, 15%);
    }

    .style--dark & {
        background-color:  lighten(@color--dark, 7%);
    }

    .style--background-image & {
    	background-color: transparent;
    }
}

// Buttons

.widget.feature .feature-bgimg .content button,
.contactform button.btn,
.advancedcontactform button,
.widget.button button,
.widget .btn,
.widget.profile form button,
.widget.paypalbuynow .widget.button.paypal,
.widget.tweet a,
.widget.dropbox button,
.signupform fieldset button,
.blog-search-submit-button,
.widget.ecomproduct .ecom-product .btn,
.widget.ecomcheckout .checkout-order-button,
.widget.ecombasket .ecombasket-list-container .ecombasket-checkout-wrap .ecombasket-checkout-link,
.widget.ecomcategorieslist ul li a,
.blog-post-more-link a,
.blog-list-footer .paginate-older,
.widget.clicktocall a,
.widget.ecombasket .ecombasket-pull,
a.contentgroup__link {
	padding: 5px 20px;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	border-radius: 0;
	min-height: 36px;
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight: @font-swatch7-font-weight;
	background-color: @font-swatch7-background-color;
	color: @font-swatch7-color;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-shadow: none;
	border: none;
	-webkit-font-smoothing: subpixel-antialiased !important;

	.style--light & {
        background-color: @color--dark;
        color: @contrast--dark;
    }

    .style--accent & {
        background-color: @color--dark;
        color: @contrast--dark;
    }

    .style--dark & {
        background-color: @color--accent;
        color: @contrast--accent;
   	}

	&:hover {
		background-color: @font-swatch7-background-color-hover;
	  	cursor: pointer;

	  	.style--light & {
	        background-color: darken(@color--dark, 10%);
	        color: @contrast--dark;
	    }

	    .style--accent & {
	        background-color: darken(@color--dark, 10%);
	        color: @contrast--dark;
	    }

	    .style--dark & {
	        background-color: darken(@color--accent, 10%);
	        color: @contrast--accent;
	   	}
	}
}

.widget.ecomcheckout .checkout-order-button:disabled {
	background-color: @color-swatch7;
	opacity: 0.5;
}

// Image buttons

.widget.paypalbuynow .widget.button.paypal,
.widget.tweet a,
.widget.dropbox button,
.widget.clicktocall a {
	padding-left: 50px;
	background-position: 18px center;

	&:hover {
		padding-left: 50px;
		background-position: 18px center;
	}
}

// Text Inputs

input, select,
.contactform input, .contactform textarea,
.widget.profile form fieldset input.email,
.signupform fieldset input.email,
.blogsearch input.blog-search-input,
.widget input[type="text"],
.widget input[type="email"],
.productlist-filter .productlist-search input,
.signupform fieldset input {
	background-color: @color-swatch1;
	border-radius: 0;
	padding: 0 1em;
	margin-right: 0.6em;
	text-indent: 0;
	min-height: 36px;
	line-height: @font-swatch7-line-height;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    border: none;
    -webkit-appearance: none;

	&:focus {
		box-shadow: inset 0 0 0 1px lighten(@color-swatch5,20%);
		outline: none;
	}
}

textarea {
	line-height: @font-swatch7-line-height;
	min-height: 10em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	border: none;
}

// Labels

.contactform label,
.advancedcontactform label,
.signupform fieldset label,
.blog-search-form label,
.widget.ecomcheckout .delivery label,
.ecom-product-vartitle {
    font-family: @font-swatch1-font-family;
    font-size: @font-swatch4-font-size;
    font-weight: @font-swatch4-font-weight;
    line-height: @font-swatch4-line-height;
    color: @color-swatch4;
    letter-spacing: @font-swatch4-letter-spacing;
    margin-bottom: 0.5em;
    word-break: break-word;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

.widget.signupform .form-group label[for="email"] {
	display: none;
}

// Selects

.widget.ecomproductslist .productlist-filter,
.widget.ecomcheckout .delivery,
.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation {
	& select {
		text-indent: 0.01px;
		text-overflow: '';
		cursor: pointer;
		position: relative;
		background-repeat: no-repeat;
		background-position: right center;
		margin: 0;
		border: 1px solid @color-swatch3;
		background-color: @color-swatch1;
		color: @color-swatch5;
		border-radius: 0;
		display: inline-block;
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
		height: (@font-swatch7-font-size * 2.5 );
		line-height: 1;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		@supports (-moz-appearance: meterbar) and (background-blend-mode: difference, normal) {
			background-image: none;
		}

		&:hover {
			border-color: @font-swatch7-background-color-hover;
		}

		&:focus {
			border-color: @color-swatch2;
		}
	}
}

// Placeholders

input::-webkit-input-placeholder {
	color: lighten(@color-swatch5,15%);
}

input:-moz-placeholder {
	color: lighten(@color-swatch5,15%);
}

input::-moz-placeholder {
 	color: lighten(@color-swatch5,15%);
}

input:-ms-input-placeholder {  
	color: lighten(@color-swatch5,15%);
}

// Terms Checkbox

.widget.advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget.contactform .form-group.contactform__form-group--terms,
.widget.signupform .form-group.signupform__form-group--terms {
	input[type="checkbox"] {
		margin: 4px 12px 4px 4px;
		height: auto !important;
		width: auto !important;
		min-height: auto;
		min-width: auto;
		opacity: 1;
		-webkit-appearance: checkbox;
		-moz-appearance: checkbox;
		appearance: checkbox;
	}
	
	label {
		padding-bottom: 0;
		
		&:before {
			display: none;
		}
		
		.form__link {
			font-family:@font-swatch1-font-family;
			font-size:@font-swatch4-font-size;
			font-weight:@font-swatch4-font-weight;
			line-height:@font-swatch4-line-height;
			letter-spacing: @font-swatch4-letter-spacing;
			color: @color-swatch4;
			word-break: break-word;

			.style--light & {
                color: @contrast--light;
            }

            .style--accent & {
                color: @contrast--accent;
            }

            .style--dark & {
                color: @contrast--dark;
            }
		}
	}
}