// TYPOGRAPHY

// Headings

h1 {
	font-family:@font-swatch1-font-family; 
	font-weight: @font-swatch1-font-weight; 
	color:@font-swatch1-color; 
	line-height:@font-swatch1-line-height; 
	letter-spacing: @font-swatch1-letter-spacing; 
	font-size: @font-swatch1-font-size;

    @media @mobile {
        font-size: bkscale(@font-swatch1-font-size, 0.9);
        line-height: bkscale(@font-swatch1-line-height, 0.9);
    }

	a {
		font-family:@font-swatch1-font-family; 
		font-weight: @font-swatch1-font-weight; 
		line-height:@font-swatch1-line-height; 
		letter-spacing: @font-swatch1-letter-spacing; 
		font-size: @font-swatch1-font-size;
		color: @color-swatch2;
	}
}

h2 {
	font-family:@font-swatch2-font-family; 
	font-weight: @font-swatch2-font-weight; 
	color:@font-swatch2-color; 
	line-height:@font-swatch2-line-height; 
	letter-spacing: @font-swatch2-letter-spacing; 
	font-size: @font-swatch2-font-size;

	a {
		font-family:@font-swatch2-font-family; 
		font-weight: @font-swatch2-font-weight; 
		line-height:@font-swatch2-line-height; 
		letter-spacing: @font-swatch2-letter-spacing; 
		font-size: @font-swatch2-font-size;
		color: @color-swatch2;
	}

    @media @mobile {
        font-size: bkscale(@font-swatch2-font-size, 0.9);
        line-height: bkscale(@font-swatch2-line-height, 0.9);
    }
}

h3 {
	font-family:@font-swatch3-font-family; 
	font-weight: @font-swatch3-font-weight; 
	color:@font-swatch3-color; 
	line-height:@font-swatch3-line-height; 
	letter-spacing: @font-swatch3-letter-spacing; 
	font-size: @font-swatch3-font-size;

    @media @mobile {
        font-size: bkscale(@font-swatch3-font-size, 0.9);
        line-height: bkscale(@font-swatch3-line-height, 0.9);
    }
	
	a {
		font-family:@font-swatch3-font-family; 
		font-weight: @font-swatch3-font-weight; 
		line-height:@font-swatch3-line-height; 
		letter-spacing: @font-swatch3-letter-spacing; 
		font-size: @font-swatch3-font-size;
		color: @color-swatch2;
	}
}

h4 {
	font-family:@font-swatch4-font-family; 
	font-weight: @font-swatch4-font-weight; 
	color:@font-swatch4-color; 
	line-height:@font-swatch4-line-height; 
	letter-spacing: @font-swatch4-letter-spacing; 
	font-size: @font-swatch4-font-size;
	
	a {
		font-family:@font-swatch4-font-family; 
		font-weight: @font-swatch4-font-weight; 
		line-height:@font-swatch4-line-height; 
		letter-spacing: @font-swatch4-letter-spacing; 
		font-size: @font-swatch4-font-size;
		color: @color-swatch2;
	}
}

h5 {
	font-family:@font-swatch4-font-family;
	font-weight: @font-swatch4-font-weight;
	color:@font-swatch4-color;
	letter-spacing: @font-swatch4-letter-spacing;
    font-size: bkscale(@font-swatch4-font-size, 0.8);
    line-height: bkscale(@font-swatch4-line-height, 0.8);

	a {
		font-family:@font-swatch4-font-family;
		font-weight: @font-swatch4-font-weight;
		line-height:@font-swatch4-line-height;
		letter-spacing: @font-swatch4-letter-spacing;
		font-size: @font-swatch4-font-size;
		color: @color-swatch2;
	}
}

h6 {
	font-family:@font-swatch4-font-family;
	font-weight: @font-swatch4-font-weight;
	color:@font-swatch4-color;
	letter-spacing: @font-swatch4-letter-spacing;
    font-size: bkscale(@font-swatch4-font-size, 0.8);
    line-height: bkscale(@font-swatch4-line-height, 0.8);

	a {
		font-family:@font-swatch4-font-family;
		font-weight: @font-swatch4-font-weight;
		line-height:@font-swatch4-line-height;
		letter-spacing: @font-swatch4-letter-spacing;
		font-size: @font-swatch4-font-size;
		color: @color-swatch2;
	}
}

h1, h2, h3, h4, h5, h6,
[class*="contentgroup__h"],
.blog-post-title a,
blockquote:before {
    word-break: break-word;
    
    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

// Normal Text

.widget.content,
.widget.content.in-editing {
	.wysihtml-editor-content,
	.embed-content {
		font-size: @font-swatch5-font-size !important;
		line-height: @font-swatch5-line-height !important;
	
		&, p, span, small, pre, code,
		table, th, td {
			color: @font-swatch5-color;
		
			.style--light & {
				color: @contrast--light;
			}
		
			.style--accent & {
				color: @contrast--accent;
			}
		
			.style--dark & {
				color: @contrast--dark;
			}
		}
	}
}

a, p, ol, ul {
	  word-break: break-word;
}

p, ul, ol, li, .contentgroup__body, .widget.clicktocall a, blockquote {
    .style--light & {
        color: fade(@contrast--light, 90%);
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}

html, body, p, ul, ol, li, .p-font, time.blog-post-publish-date {
    font-size: bkscale(@font-swatch5-font-size, 1);
    line-height: bkscale(@font-swatch5-line-height, 1);

    .make-font-a-little-smaller(@font__p--line-height);
    .make-font-smaller(@font__p--line-height);
    .make-line-height-a-little-smaller(@font__p--line-height);
    .make-line-height-smaller(@font__p--line-height);
}

[data-name="content"] a:not(.contentgroup__link) {
    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

// Preformatted and Code Text

pre, code {
	display: block;
	margin: 1em 0;
	padding: 0.5em 1em;
	border: none;
	.border-radius(0);
	background-color: darken(@color-swatch1, 10%);
	overflow: auto;
	font-family: monospace;

	.style--light & {
		background-color: fade(@contrast--light, 10%);
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 10%);
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 10%);
	}
}

code {
	border-left: 1px solid @color-swatch5;

	.style--light & {
		border-color: @contrast--light;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @contrast--dark;
	}
}

// Conditional when text is bigger

.make-font-smaller() when (@font-swatch5-font-size > 16px) {
    @media @tablet {
        font-size: bkscale(@font-swatch5-font-size, 0.9);
        line-height: bkscale(@font-swatch5-line-height, 0.9);
    }
    @media @mobile {
        font-size: bkscale(@font-swatch5-font-size, 0.8);
        line-height: bkscale(@font-swatch5-line-height, 0.8);
    }
}

.make-font-a-little-smaller() when (@font-swatch5-font-size > 14px) {
    @media @mobile {
        font-size: bkscale(@font-swatch5-font-size, 0.9);
        line-height: bkscale(@font-swatch5-line-height, 0.9);
    }
}

// Blockquote

blockquote {
	padding: 30px;
	word-break: break-word;
	
	&:before {
		content: open-quote !important;
		left: -10px !important;
		position: relative !important;
		font-family: georgia, serif !important;
		font-size: 3.05em !important;
		top: 20px !important;
		color: fade(@font-swatch5-color, 50%);

		.style--light & {
			color: fade(@contrast--light, 50%);
		}

		.style--accent & {
			color: fade(@contrast--accent, 50%);
		}

		.style--dark & {
			color: fade(@contrast--dark, 50%);
		}
	}
}